name: CI
on:
  pull_request:
    branches: [develop]
  push:
    branches: [develop]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v3
      - name: Use NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Cache dependencies
        id: cache
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-build-${{ env.cache-name }}-
      - name: Echo Cache hit
        if: ${{ steps.cache.outputs.cache-hit == 'true' }}
        run: |
          echo "CACHE HIT"
      - name: install dependencies
        run: npm ci
      - name: check code format
        run: npm run format:check
      - name: run tests
        run: npm test -- --coverage
        env:
          CI: true
      - name: upload test coverage
        uses: actions/upload-artifact@v3
        with:
          name: code-coverage
          path: coverage
      - name: build project
        if: github.event_name == 'push'
        run: npm run build
      - name: upload build folder
        uses: actions/upload-artifact@v3
        with:
          name: build
          path: build
      - name: install surge
        run: npm i -g surge
      - name: deploy to staging
        if: github.event_name == 'push'
        run: npx surge --project ./build --domain utter-picture.surge.sh
        env:
          SURGE_LOGIN: ${{ secrets.SURGE_LOGIN }}
          SURGE_TOKEN: ${{ secrets.SURGE_TOKEN }}
